@import "bootstrap-sprockets";
@import "bootstrap";


section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #777;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

.actions {
    border: none;
    color: grey;
    padding: 10px 0px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
.dobong {
  box-shadow: 10px 10px grey;
}
.vitri {
  margin-top:20px;
  margin-left: 50%;
}
.bia {
  background-image: url('default.jpg');
  width: 100%;
  heigth: 100px
}



#logo{
    display: block;
    width:60px;
    height:50px;
}
.logo{
    float:left;
    margin-right:10px;
}

.search{
    position: relative;
    float:left;
    width: calc(75% - 417px);
}
.search span{
    position: absolute;
    line-height: 34px;
    z-index: 20;
    font-size: 100%;
    padding-left: 10px;
    top:10px;
    font-weight:bold;
}
.search input{
    line-height: 22px;
    border-radius: 3px;
    width: 100%;
    height: 34px;
    padding: 8px 10px;
    padding-left: 74px;
    border: solid 1px #d8d8d8;
    margin-top:10px;
}
.location{
    margin-top:10px;
    float:left;
    width:160px;
    margin-left:33px;
}

.custom-dropdown{
    width: 100%;
    position: relative;
    vertical-align: middle;
}


.location .inner-label{
    color: #afb4b6;
    font-weight: 300;
    position: absolute;
    line-height: 35px;
    z-index: 20;
    font-size: 100%;
    padding-left: 10px;
}

.location input{
    padding-left: 28px;
    font-weight: 300;
    padding-right: 24px;
    border-radius: 3px;
    width: 100%;
    height: 34px;
    padding: 8px 30px;
    border: solid 1px #d8d8d8;
    box-sizing: border-box;
    line-height: normal;
    color: black !important;
    cursor: pointer;
}

.custom-dropdown i {
    position: absolute;
    margin-left: -20px;
    cursor: pointer;
    z-index: 20;
    color: #afb4b6;
    top: 0;
    right: 10px;
    font-size: 12px;
    line-height: 35px;
}


#top-wrapper {
    width: 100%;
    position: fixed;
    z-index: 8002;
}

#nav-bar{
    height: 50px;
    background-color: #fff;
    border-bottom: 1px solid #e4e4e4;
    z-index: 110;
    position: relative;
    margin: 0 auto;
    max-width: 1180px;
}

#nav-bar::before{
    display: table;
    content: " ";    
}
#nav-bar::after {
    clear: both;
    content: " ";
}
.nav-right{
    margin-top:10px;
    float:left;
    margin-left:150px;
    //line-height:34px;
}
.mode-bar{
    clear:both;
}

.btn span{
    font-weight:bold;
    color: #fff;
}

.dropdown-menu{
    display:none;
}

.custom-dropdown:active>ul, .custom-dropdown:focus>ul{
    display:block;    
}
.btn a {
  color:#ffffff;
  font-weight:bold;
  text-decoration: none;
}